{{$file := .file}}
{{range $j, $section := $file.Sections}}
  {{range $k, $line := $section.Lines}}
    {{$inlineDiff := $section.GetComputedInlineDiffForPdoc $line ctx.Locale -}}
    <!-- TODO!: add comment button here -->
    {{$inlineDiff}}
  {{end}}
{{end}}
